@model je_kreiral

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>je_kreiral</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_osebe" />
            <input type="hidden" asp-for="Inventarna_stevilka" />
            <div class="form-group">
                <label asp-for="Datum_kreiranja" class="control-label"></label>
                <input asp-for="Datum_kreiranja" class="form-control" />
                <span asp-validation-for="Datum_kreiranja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

