@model E_knjiznica.Models.CLAN

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CLAN</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID_osebe" class="control-label"></label>
                <select asp-for="ID_osebe" class ="form-control" asp-items="ViewBag.ID_osebe"></select>
            </div>
            <div class="form-group">
                <label asp-for="ID_kategorija_clana" class="control-label"></label>
                <select asp-for="ID_kategorija_clana" class ="form-control" asp-items="ViewBag.ID_kategorija_clana"></select>
            </div>
            <div class="form-group">
                <label asp-for="GDPR" class="control-label"></label>
                <input asp-for="GDPR" class="form-control" />
                <span asp-validation-for="GDPR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="E_posta" class="control-label"></label>
                <input asp-for="E_posta" class="form-control" />
                <span asp-validation-for="E_posta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Informiranje_preko_e_poste" class="control-label"></label>
                <input asp-for="Informiranje_preko_e_poste" class="form-control" />
                <span asp-validation-for="Informiranje_preko_e_poste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Konec_clanstva" class="control-label"></label>
                <input asp-for="Konec_clanstva" class="form-control" />
                <span asp-validation-for="Konec_clanstva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

